.footer-pic {
    background-image: url('bottom.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fafafa;
    min-height: 180px;
    position: relative;
}

h1 {
    scroll-margin-top: 100px;
    scroll-snap-margin-top: 100px;
}