.footer-pic {
    background-image: url('bottom.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 180px;
    position: relative;
}

h1 {
    scroll-margin-top: 100px;
    scroll-snap-margin-top: 100px;
}

#hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(75%);
}

.text-shadow{
    text-shadow: 0 1px 2px #000;
}

.text-shadow-lg{
    text-shadow: 0 3px 10px #111;
}

.scanlines{
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 4px, 2px 100%;
}

.scanlines-text{
    text-shadow: 2px 0 1px rgba(0,30,255,0.5), -2px 0 1px rgba(255,0,80,0.3), 0 0 3px;
}

.scanlines-text-strong{
    text-shadow: 3.4px 0 1px rgba(0,30,255,0.5), -3.4px 0 1px rgba(255,0,80,0.3), 0 0 3px;
}

.scanlines-box{
    box-shadow: 1.25px 0 1px rgba(0,30,255,0.5), -1.25px 0 1px rgba(255,0,80,0.3), 0 0 3px;
}

.scanlines-box-strong{
    box-shadow: 2.5px 0 1px rgba(0,30,255,0.5), -2.5px 0 1px rgba(255,0,80,0.3), 0 0 3px;
}

.scanlines-image{
    filter: drop-shadow(3.4px 0 1px rgba(0,30,255,0.5)) drop-shadow(-3.4px 0 1px rgba(255,0,80,0.3));
}
